branca==0.7.2
cachetools==5.3.3
certifi==2024.2.2
charset-normalizer==3.3.2
folium==0.17.0
fuzzywuzzy==0.18.0
google-api-core==2.19.0
google-api-python-client==2.127.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
googleapis-common-protos==1.63.0
httplib2==0.22.0
idna==3.7
Jinja2==3.1.4
MarkupSafe==2.1.5
numpy==1.26.4
oauthlib==3.2.2
pandas==2.2.2
proto-plus==1.23.0
protobuf==4.25.3
pyasn1==0.6.0
pyasn1_modules==0.4.0
pygsheets==2.0.6
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.13
PyQt5-sip==12.13.0
PyQtWebEngine==5.15.7
PyQtWebEngine-Qt5==5.15.14
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2024.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
setuptools==68.2.2
six==1.16.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.2.1
wheel==0.43.0
xyzservices==2024.6.0
